* {
    margin: 0 auto 0 auto;
    text-align:left;
}


/* styles for the body*/

body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	background: #1364A6;
	background-image:url("../images/background.jpg");
	background-repeat:repeat-x;
}



#container
{
  display: block; 
  height:auto;
  position: relative; 
  width: 750px;
  background-image:url("../images/background.jpg");
  background-repeat:repeat-y;
  padding-left:17px;
  padding-right:17px;
  overflow:hidden;
    background: white;
    
}

#links
{
display:block;
float:right;	
margin-top:25px;
margin-right:10px;
    background-color: white;
    
   
}

#links a, #links a:visited
{
font-size:16px;
font-weight:bold;
margin-left:4px;
margin-right:4px;
color: #1652B4;
text-decoration:none;
}

#links a:hover
{
border-bottom:dotted 1px #1652B4;
}

#header
{
height:60px;
    
}

#header h1
{
margin-top:15px;
margin-left:10px;
font-size:33px;
color:#0A2645;
float:left;
}

.picture {
	background-image:url(images/imagebackground.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
	padding-bottom:5px;
	margin-top:22px;
}



/* styles for the NAVBAR sticky position*/

.off
{
color:#1652B4;
    position: fixed;
    background-color: aqua;
    
    
}



/* STYLES FOR POSITION PROPERTIES */


.picture1, .picture2, .picture3, .picture4 {
    position: fixed;
    opacity: 0.65;
    border: 3px solid brown;
    
    
    
}
 
.pic {
    width: auto;
    height: 150px;
    border-radius: 60px 60px 60px 60px;
    border: 2px solid blue;
    box-shadow: 1px 1px 3px 3px red;
    z-index: 1;
}   
    
.poly {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    z-index: 1;
}

.circle {
    clip-path: circle(250px at 50% 50%);
    z-index: 1;
    
    
    
}

.ellipse {
    clip-path:ellipse(50% 40% at 50% 50%);
    z-index: 1;
    
    
}

/* styles for the page creation with FULL NAME */

.myName {
    background-color: aquamarine;
    position: fixed;
    top: 50%;
    right: 47%;
    left: auto;
    bottom: auto;
    z-index: 1;
    color: brown;
}



/* other styles */
.contenttext h2
{
color:#123F83;
font-size:24px;
margin-bottom:10px;
	
}

.contenttext
{
	padding-left:10px;
	padding-right:10px;
}


#footer
{
font-size:12px;
color:#519FEE;
margin-top:18px;
width:750px;
text-align:center;
}
#footer a, #footer a:visited
{
	text-align:center;
color:#ADCCF1;
	text-decoration:none;
}

html, body {
text-align: center;
}

p {text-align: left;}